@import url(/Sprint-Html-e-Css/css/header.css);
@import url(/Sprint-Html-e-Css/css/footer.css);

main { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    padding: 1.2rem 0px 1rem;
}


main .conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .conteiner_img article img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 1200px;
}

.conteiner_texto p{
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}
@media screen and (min-width:1200px) {
    .conteiner_img article img{
        padding: 1% 6%;
        max-width: 90%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:1200px){
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        max-width: 100%;
        padding: 0%;
    }
    footer{
        width: 100%;
    }
    heade{
        width: 100%;
    }
    .conteiner_img article img{
        padding: 0% 5% 0%;
        max-width: 90%;
        align-items: center;
        justify-content: center;
    }
    
    .conteiner_texto {
        max-width: 70%;
        padding: 0% 10% 0%;
        align-items: center;
    }
}
    
    
    @media screen and (max-width:768px){
        main{
            flex-grow: 1;
            max-width: 90%;
            padding: 0% 5% 0%;
        }
        .conteiner_img article img{
            padding: 0% 5% 0%;
            max-width: 90%;
            align-items: center;
            justify-content: center;
        }
        .conteiner_texto p{
            padding: 0% 0% 0%;
            max-width: 100%;
            font-size: 70%;
            text-align: justify;
            align-items: center;
        }

    }
    
    @media screen and (max-width:350px){
        main{
            flex-grow: 1;
        }
        .conteiner_img article img{
            max-width: 70%;
            align-items: center;
        }
        .conteiner_texto p{
            max-width: 100%;
            font-size: 0.4.8rem;
            text-align: justify;
            align-items: center;
        }
    }
    