@import url(../css/aderecos.css);

main { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 5px 0px 0px ;
    flex-grow: 1;
}


main .conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .conteiner_img aside img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 1200px;
}

.conteiner_texto p{
    font-weight: 500;
    font-size: 17px;
    margin: 0;
}

@keyframes card_foto {
    100%{
        transform: translateX(-150%);
        opacity: 1;
    }
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    
}
    